--===================================TẠO DATABASE================================
go
	use master
	if exists(select * from sysdatabases where sysdatabases.name = 'LapTrinhWeb')
		drop database LapTrinhWeb
		create database LapTrinhWeb
go
--=====================================TẠO BẢNG==================================
use LapTrinhWeb
go
--Bảng Users/ Tài khoản
create table Users
(
	Id int identity(1,1) primary key,
	Username nvarchar(50) null,
	Password nvarchar(255) not null,
	Email nvarchar(100) not null unique,
	GoogleId nvarchar(100) null,
	DateOfBirth Date null,
	Role nvarchar(20) not null check (role in ('Admin','Staff','Customer')),
	IsLocked bit not null default 0
)
go
--Bảng UserAddresses/ Địa chỉ giao hàng
create table UseAddresses
(
	Id int identity(1,1) primary key,
	UserId int not null references Users(Id),
	ContactName nvarchar(100) not null,
	ContactPhone nvarchar(20) not null,
	AddressLine nvarchar(255) not null,
	Province nvarchar(100) not null,
	District nvarchar(100) not null,
	Ward nvarchar(100) not null,
	IsDefault bit not null default 0
)
--Bảng Categories/ Danh mục
create table Categories
(
	Id int identity(1,1) primary key,
	Name nvarchar(100) not null,
	Slug nvarchar(255) unique,
	ParentId int null references Categories(Id),
	IsActive bit not null default 1
)
go
--Bảng Products/ Thông tin sản phẩm
create table Products
(
	Id int identity(1,1) primary key,
	Slug nvarchar(500) unique,
	CategoryId int references Categories(Id),
	Name nvarchar(255) not null,
	Description nvarchar(max),
	Price decimal(18,2),
	Thumbnail nvarchar(255) not null,
	IsActive bit not null default 0
)
go
--Bảng ProductImage
create table ProductImage
(
	Id int identity(1,1) primary key,
	ProductId int not null references Products(Id),
	ImageUrl nvarchar(255),
	SortOrder int
)
go
--Bảng MasterColors
create table MasterColors
(
	Id int identity(1,1) primary key,
	Name nvarchar(100) not null,
	HexCode nvarchar(100) not null
)
go
--Bảng MasterSizes
create table MasterSizes
(
	Id int identity(1,1) primary key,
	Name nvarchar(20) not null
)
go
--Bảng ProductVariants/ SKU chi tiết
create table ProductVariants
(
	Id int identity(1,1) primary key,
	ProductId int not null references Products(Id),
	ColorId int null references MasterColors(Id),
	SizeId int null references MasterSizes(Id),
	Sku nvarchar(100) unique,
	Quantity int,
	PriceModifier decimal(18,2)
)
go
--Bảng Promotions
create table Promotions
(
	Id int identity(1,1) primary key,
	Name nvarchar(255) not null,
	DiscountType nvarchar(50) check (DiscountType in ('Percentage','FixedAmount')),
	DiscountValue decimal(18,2) not null check (DiscountValue>0),
	StartDate date,
	EndDate date,
	IsActive bit not null default 1,
	Priority int not null default 0,
	constraint CK_Promotions check (EndDate>StartDate)
)
go
-- Bảng Promotion Conditions
create table PromotionConditions
(
	Id int identity(1,1) primary key,
	PromotionId int references Promotions(Id),
	--(TotalAmount, Quantity, CategoryID...)
	Field nvarchar(50) not null,
	-- Toán tử so sánh: =, >, <, >=, <=, IN, BETWEEN
	Operator nvarchar(20) not null,
	Value nvarchar(255) not null
)
go
--Bảng ProductPromotions
create table ProductPromotions
(
	Id int identity(1,1) primary key,
	ProductId int not null references Products(Id),
	PromotionId int not null references Promotions(Id)
)
--Bảng Coupons
create table Coupons
(
	Id int identity(1,1) primary key,
	Code nvarchar(100) unique not null,
	UserId int references Users(Id),
	PromotionId int references Promotions(Id),
	IsUsed bit default 0 not null,
	ExpiryDate date
)
--Bảng CartItems
create table CartItems
(
	Id int identity(1,1) primary key,
	UserId int references Users(Id)not null ,
	ProductId int references Products(Id) not null,
	ProductVariantId int references ProductVariants(Id) not null,
	Quantity int check(Quantity>0)
)
--Bảng Orders
create table Orders
(
	-- Định danh
	Id int identity(1,1) primary key,
	OderCode nvarchar(20) not null unique,
	OrderDate date not null default getdate(),
	UserId int references Users(Id) not null,
	-- Snapshot giao hàng
	ShippingName nvarchar(100) not null,
	ShippingAdrress nvarchar(255) not null,
	ShippingPhone nvarchar(20) not null,
	-- Tài chính
	TotalAmount decimal(18,2) not null,
	DiscountAmount decimal(18,2) not null default 0,
	ShippingFee decimal(18,2) not null default 0,
	FinalAmount decimal(18,2) not null,
	CouponCode nvarchar(100) null,
	-- Thanh toán
	PaymentMethod nvarchar(20) not null,
	PaymentStatus nvarchar(20) not null,
	--Trạng thái đơn
	Status int not null default 0 check (Status in (0,1,2,3)) --0: Đang xử lý, 1: Đã xử lý, 2: Đang giao hàng, 3: Giao thành công/ thất bại
)
-- Bảng OderDetailts
create table OderDetails
(
	Id int identity(1,1) primary key,
	OrderId int not null references Orders(Id),
	SnapshotProductName nvarchar(255) not null,
	SnapshotSKU nvarchar(100) not null,
	Quantity int,
	UnitPrice decimal(18,2) check (UnitPrice>0),
	Total as Quantity*UnitPrice
)
--Bảng OderSatusHistory
create table OderStatusHistory
(
	Id int identity(1,1) primary key,
	OrderId int not null references Orders(Id),
	OldStatus int null,
	NewStatus int null check (NewStatus in (0,1,2,3)),
	ChangeAt datetime not null default getdate(),
	UpdateByType int not null check (UpdateByType in (0,1,2,3)),
	-- 0: System
	-- 1: Admin
	-- 2: Staff
	-- 3: Shipper
	UpdateByUserId int null references Users(Id),
	Note nvarchar(255) null
)
--Bảng ArticleCategories
create table ArticleCategories
(
	Id int identity(1,1) primary key,
	Name nvarchar(255) not null,
	Slug nvarchar(255),
)
--Bảng Articles
create table Articles
(
	Id int identity(1,1) primary key,
	CategoryId int not null references ArticleCategories (Id),
	Title nvarchar(200) not null,
	Slug nvarchar(255),
	Summary nvarchar(255),
	Content nvarchar(max),
	Thumbnail nvarchar(255),
	IsPublished bit not null default 1,
	PublishedAt datetime default getdate()
)
--Bảng ProductReviews
create table ProductReviews
(
	Id int identity(1,1) primary key,
	ProductId int not null references Products(Id),
	UserId int not null references Users(Id),
	OrderId int not null references Orders(Id),
	Rating int not null check (1<=Rating and Rating<=5),
	Comment nvarchar(max),
	CreatedAt datetime not null default getdate(),
)
--Bảng Notifications thông báo
create table Notifications
(
	Id int identity(1,1) primary key,
	Title nvarchar(255) not null,
	Content nvarchar(max) not null,
	Type nvarchar(50) not null check (Type in (N'Đơn hàng',N'Khuyến mãi',N'Tin tức')),
	IsRead bit not null default 0,
	UserId int null references Users(Id),
	CreatedAt datetime not null default getdate()
)